body{
    background-color: midnightblue;
    color: antiquewhite;
}
/* Exemplo de justify-content: center */
.ex1{
    display: flex;
    background-color: cornflowerblue;
    gap: 30px;
    justify-content: center;
}
.ex1 div{
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: cadetblue;
}
/* Exemplo de justify-content- flex-start */
.ex2{
    display: flex;
    background-color: cornflowerblue;
    gap: 30px;
    justify-content:flex-start;
}
.ex2 div{
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: cadetblue;
}
/* Exemplo de justify-content- flex-end */
.ex3{
    display: flex;
    background-color: cornflowerblue;
    gap: 30px;
    justify-content:flex-end;
}
.ex3 div{
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: cadetblue;
}
/* Exemplo de justify-content: space-around */
.ex4{
    display: flex;
    background-color: cornflowerblue;
    gap: 30px;
    justify-content:space-around;
}
.ex4 div{
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: cadetblue;
}
/* Exemplo de justify-content: space-between */
.ex5{
    display: flex;
    background-color: cornflowerblue;
    gap: 30px;
    justify-content:space-between;
}
.ex5 div{
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: cadetblue;
}
/* Exemplo de justify-content: space-evenly */
.ex6{
    display: flex;
    background-color: cornflowerblue;
    justify-content:space-evenly;
}
.ex6 div{
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: cadetblue;
}