body{
    background-color: bisque;
}
/* Exemplo de grid-template-column: auto auto auto */
.ex1{
    display: grid;
    padding: 5px;
    gap: 5px;
    /* grid-template-columns: repeat(3, auto); */
    grid-template-columns: auto auto auto;
    background-color: aquamarine;
}
.ex1 div{
    border: 1px solid black;
    height: 30px;
    background-color: antiquewhite;
    text-align: center;
    align-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Exemplo de grid-template-column com valores misturados */
.ex2{
    display: grid;
    padding: 5px;
    gap: 5px;
    grid-template-columns: 200px 80px auto;
    background-color: aquamarine;
}
.ex2 div{
    border: 1px solid black;
    height: 30px;
    background-color: antiquewhite;
    text-align: center;
    align-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Exemplo de grid-template-column com valores fracionados */
.ex3{
    display: grid;
    padding: 5px;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-columns: repeat(3, 1fr); */
    background-color: aquamarine;
}
.ex3 div{
    border: 1px solid black;
    height: 30px;
    background-color: antiquewhite;
    text-align: center;
    align-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Exemplo de grid-template-column com minmax*/
.ex4{
    display: grid;
    padding: 5px;
    gap: 5px;
    grid-template-columns: minmax( 180px, 1fr) 150px 150px;
    background-color: aquamarine;
}
.ex4 div{
    border: 1px solid black;
    height: 30px;
    background-color: antiquewhite;
    text-align: center;
    align-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Exemplo de grid-template-rows com valores fixos*/
.ex5{
    display: grid;
    padding: 5px;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80px 200px;
    background-color: aquamarine;
}
.ex5 div{
    border: 1px solid black;
    background-color: antiquewhite;
    text-align: center;
    align-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Exemplo de grid-column-gap*/
.ex6{
    display: grid;
    padding: 5px;
    column-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    background-color: aquamarine;
}
.ex6 div{
    padding: 10px;
    border: 1px solid black;
    background-color: antiquewhite;
    text-align: center;
    align-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Exemplo de grid-row-gap*/
.ex7{
    display: grid;
    padding: 5px;
    row-gap: 40px;
    grid-template-columns: auto auto auto;
    background-color: aquamarine;
}
.ex7 div{
    padding: 10px;
    border: 1px solid black;
    background-color: antiquewhite;
    text-align: center;
    align-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Exemplo de grid-gap*/
.ex8{
    display: grid;
    padding: 5px;
    gap: 40px;
    grid-template-columns: auto auto auto;
    background-color: aquamarine;
}
.ex8 div{
    padding: 10px;
    border: 1px solid black;
    background-color: antiquewhite;
    text-align: center;
    align-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Exemplo de grid-gap*/
.ex9{
    display: grid;
    padding: 5px;
    gap: 10px 50px;
    grid-template-columns: auto auto auto;
    background-color: aquamarine;
}
.ex9 div{
    padding: 10px;
    border: 1px solid black;
    background-color: antiquewhite;
    text-align: center;
    align-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}