body{
    background-color: burlywood;
}
.bx-instagram{
    color: blueviolet;
    font-size: 80px;
}
.bx-whatsapp{
    color: blueviolet;
    font-size: 80px;
}
.bx-trello{
    color: blueviolet;
    font-size: 80px;
}