body{
    background-color: gray;
}
.ex1:link{
    color: coral;
    background-color: cadetblue;
}

.ex1:hover {
    color: brown;
    background-color: aliceblue;
}
.ex1:active {
    color: greenyellow;
    background-color: black;
}
.ex1:visited {
    color: purple;
    background-color: bisque;
}
.ex1 {
    text-decoration: none;
}
/* *{
    cursor: url(../img/dog.svg), auto;
} */

.link-btn:link, .link-btn:visited {
    /* background-color: navy; */
    background-color: transparent;
    border: 3px solid midnightblue;
    color: rgb(17,17,84);
    padding: 20px 80px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    display: inline-block;
}

.link-btn:hover, .link-btn:active {
    background-color:midnightblue;
    color:white;
    border: 3px solid white;
    transition: 0.5;
}