body{
    background-color: cornflowerblue;
}

.ex1{
    background-color: aliceblue;
    width: 400px;
    margin: 0 auto;
    padding-top: 50px;
    padding-right: 100px;
    padding-bottom: 50px;
    padding-left: 10px;

}