body{
    background-color: cadetblue;
}

.ex1{
    background-color: beige;
    width: 300px;
    height: 100px;
    margin: 40px 100px;
}

.ex2{
    width: 250px;
    background-color: bisque;
    margin: 100px auto;
}